body{
    background-color: blanchedalmond;
    text-align: center;
}
h1{
    font-family:Sans-Serif;
    font-weight: bold;
    color: aqua;
}
div{
    text-align: center;
}
ul{
    text-align: center;
    font-family: sans-serif;
    list-style-position: inside;
}
ol{
    text-align: center;
    font-family: sans-serif;
    list-style-position: inside;
}